/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #344655;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #344655;
    color: white;
    padding: 50px ;
    text-align: center;
    display: flex;
    
}

 .text{
    color: #fff;
margin-left: 50px;
text-align: left;
}


header h1 {
    color: #fff;
    margin: 0;
    font-size: 3em;
}

.context{
    display: flex;

}
.left{
    width: 40%;
    display: flex;
    margin-left: 50px;
    flex-direction: column;

    
}
.contact-info {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact-link {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: #f3a847;

}

.contact-link i {
    margin-right: 10px;
}

.contact-link:last-child {
    margin-bottom: 0;
}
.right{
    width: 60%;
}
nav ul {
    list-style-type: none;
    padding: 10PX;
    text-align: center;
    margin: 50px;

}

nav ul li {

    margin: 15px;
}
nav ul {
    list-style-type: none;
    padding-left: 50px;
    margin: 50px 0;
}

nav ul li {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    width: 10px; 
    height: 2px; 
    background-color: #fff;
}

nav ul li a:hover::before {
    background-color: #f3a847; 
}

nav ul li a:hover {
    color: #f3a847; 
}



.icon i {
    font-size: 3em;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
section {
    padding: 20px;
    margin: 20px;
}


#projects {
    margin-top: 40px;
}

#projects h2 {
    color: #fff;
    margin-bottom: 20px;
}

.project-item {
    display: flex;
    background-color: #344655;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: flex-start; /* Ensure that items align horizontally */
}

.project-image {
    width: 250px; /* Fixed width for the image */
    height: 150px; /* Fixed height for the image */
    margin-right: 20px;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 8px;
}

.project-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Align the text in a column */
}

.project-title {
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-description {
    color: #ccc;
    margin: 10px 0;
}

.project-link {
    font-size: 1.2em;
    color: #f3a847;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #e5af67;
    color: #333;
}
